ApiServiceEngine.Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="ApiServiceEngine" elementFormDefault="qualified" targetNamespace="ApiServiceEngine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="api" type="tns:ApiServiceEngine.Configuration.ApiSectionCT" />
	<xs:complexType name="ApiServiceEngine.Configuration.ApiSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="tasks" type="tns:ApiServiceEngine.Configuration.TasksCT">
				<xs:annotation>
					<xs:documentation>Список доступных задач</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="services" type="tns:ApiServiceEngine.Configuration.ServicesCT">
				<xs:annotation>
					<xs:documentation>Список доступных методов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.RunMethodCT">
		<xs:attribute name="method" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Method.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.RunMethodsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:ApiServiceEngine.Configuration.RunMethodsClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:ApiServiceEngine.Configuration.RunMethodsRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:ApiServiceEngine.Configuration.RunMethodCT">
				<xs:annotation>
					<xs:documentation>The RunMethod Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.RunMethodsRemoveCT">
				<xs:attribute name="method" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Method.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.RunMethodsClearCT" />
	<xs:complexType name="ApiServiceEngine.Configuration.TaskCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="methods" type="tns:ApiServiceEngine.Configuration.RunMethodsCT">
				<xs:annotation>
					<xs:documentation>The Methods.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.TasksCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="task" type="tns:ApiServiceEngine.Configuration.TaskCT">
				<xs:annotation>
					<xs:documentation>The Task Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.TasksRemoveCT">
				<xs:attribute name="name" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Name.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.TasksClearCT" />
	<xs:complexType name="ApiServiceEngine.Configuration.ParameterCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="db" type="tns:ApiServiceEngine.Configuration.DbPropertyCT">
				<xs:annotation>
					<xs:documentation>The Db.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="recive" type="tns:ApiServiceEngine.Configuration.ReciveCT">
				<xs:annotation>
					<xs:documentation>The Recive.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="api_name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ApiName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="is_page" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsPage.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="index" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Index.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="required" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Required.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="is_list" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsList.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.DbPropertyCT">
		<xs:attribute name="field" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Field.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="length" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Length.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.OutCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="parameter" type="tns:ApiServiceEngine.Configuration.ParameterCT">
				<xs:annotation>
					<xs:documentation>The Parameter Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.OutRemoveCT">
				<xs:attribute name="name" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Name.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.OutClearCT" />
	<xs:complexType name="ApiServiceEngine.Configuration.InCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="parameter" type="tns:ApiServiceEngine.Configuration.ParameterCT">
				<xs:annotation>
					<xs:documentation>The Parameter Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.InRemoveCT">
				<xs:attribute name="name" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Name.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.InClearCT" />
	<xs:complexType name="ApiServiceEngine.Configuration.MethodCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="in" type="tns:ApiServiceEngine.Configuration.InCT">
				<xs:annotation>
					<xs:documentation>The In.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="out" type="tns:ApiServiceEngine.Configuration.OutCT">
				<xs:annotation>
					<xs:documentation>The Out.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="apiName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ApiName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="procedure" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Procedure.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="version" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Version.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="request" use="optional" type="tns:RequestMethod">
			<xs:annotation>
				<xs:documentation>The Request.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.MethodsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="method" type="tns:ApiServiceEngine.Configuration.MethodCT">
				<xs:annotation>
					<xs:documentation>The Method Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.MethodsRemoveCT">
				<xs:attribute name="name" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Name.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.MethodsClearCT" />
	<xs:complexType name="ApiServiceEngine.Configuration.SettingsCT">
		<xs:attribute name="url" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Адрес</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="login" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Имя пользователя</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Пароль</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.ServiceCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="settings" type="tns:ApiServiceEngine.Configuration.SettingsCT">
				<xs:annotation>
					<xs:documentation>Основные настройки сервиса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="methods" type="tns:ApiServiceEngine.Configuration.MethodsCT">
				<xs:annotation>
					<xs:documentation>Список методов, предоставляемых сервисом</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Наименование сервиса</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="comment" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Описание сервиса</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Имя класса содержащего методы сервиса</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.ServicesCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="service" type="tns:ApiServiceEngine.Configuration.ServiceCT">
				<xs:annotation>
					<xs:documentation>Описание сервиса (способ доступа, методы)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.ServicesRemoveCT">
				<xs:attribute name="name" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование сервиса</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="ApiServiceEngine.Configuration.ServicesClearCT" />
	<xs:complexType name="ApiServiceEngine.Configuration.ReciveCT">
		<xs:attribute name="method" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Method.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="parameter" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Parameter.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="RequestMethod">
		<xs:annotation>
			<xs:documentation>RequestMethod.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Get">
				<xs:annotation>
					<xs:documentation>Get.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Post">
				<xs:annotation>
					<xs:documentation>Post.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
